header {
  box-shadow: 0 4px 6px -6px #222;
}

.nav-items {
  display: flex;
  list-style-type: none;
}

.nav-items > li {
  border-radius: 8px;
  padding: 10px;
}
.nav-items > li:hover {
  background-color: #7e7e7e;
}

nav {
  display: flex;
  align-items: center;
}

img {
  margin-left: 20px;
  width: 60px;
}

footer {
  background-color: #7e7e7e;
}
